/* In this file there are styles for smallest possible display */
/* Variations for larger sizes are in stylesRes.css */

@font-face {
    font-family: lato_font;
    src: url(fonts/Lato-Regular.ttf);
  }

@font-face {
font-family: roboto_font;
src: url(fonts/Roboto-Regular.ttf);
}

:root {
    --navbar-height: 48px;
    --navbar-height-margin: 68px;
    --main-debug-border-width: 0px;
    --polygon-color: #fab40a;
}

body, html {
    height: 100%;
    margin: 0;
    scroll-behavior: smooth;
    background: #212121;

    font-family: Roboto, roboto_font, Verdana, Helvetica, sans-serif;
    line-height: 1.8;
}

.header_style_1 {
    font-family: Roboto, roboto_font, Tahoma, sans-serif;
    font-weight: bold;
    line-height: 1.8;
    font-size: 31px;

    color: var(--polygon-color);
    text-transform: uppercase;  
}

.header_style_2 {
    font-family: Roboto, roboto_font, Tahoma, sans-serif;
    line-height: 1.8;
    font-weight: bold;
    font-size: 20px;

    color: var(--polygon-color);
    text-transform: uppercase;
    margin:0;  
}

.text_style_1 {
    font-family: Roboto, roboto_font, Tahoma, sans-serif;
    line-height: 1.7;
    font-size: 17px;
    word-spacing: 0.15em;

    color: white;
    white-space: pre-line;
}

.text_style_2 {
    font-family: Lato, lato_font, Verdana, sans-serif;
    line-height: 1.8;
    font-size: 14px;

    word-spacing: 0.2em;   
    color: rgb(214, 214, 214);
    white-space: pre-line;
}

main {
    width: 100%;
    height: 100%;
}

.section { /* Section taking whole width */
    padding-top: 80px;
    padding-bottom: 80px;
    background-image: url("images/other/background_grain.jpg");
    background-repeat: repeat;
    background-size: 8%;
    /* background:#212121; */
}

.section_context { /* Actual field for content in section, enabling responsiveness */
    max-width: 1060px;
    margin: auto;

    border-style: dotted;
    color: white;
    border-width: var(--main-debug-border-width);
}

.section_header {
    text-align: center;
    margin-left: 0px;
    margin-bottom: 20px;
}

.hide_on_mobile {
    display: none;
}

.zoom { transition: transform .2s; }
.zoom:hover { transform: scale(1.05); }
.animate-opacity-08 { animation: opac 0.8s } @keyframes opac { from{opacity:0} to { opacity:1 } }
.animate-opacity-25 { animation: opac 2.5s } @keyframes opac { from{opacity:0} to { opacity:1 } }
.animate-fadeIn { animation: fadeIn 0.8s ease-in forwards; } @keyframes fadeIn {0% { opacity: 0; } 100% { opacity: 1; } }
.animate-pulse { animation: pulse 3s infinite; } @keyframes pulse { 0%{transform: scale(1.0);} 50%{transform: scale(1.02);} 100% {transform: scale(1.0);} }

 /* NavBar ---------------------------------------------- */

 .navbar {
    position: fixed;
    top: 0;
    z-index: 1000;
    height: var(--navbar-height);
    width: 100%;
    background: black;
    color: white;
    overflow: hidden;
    transition: top 0.5s;

    display: none;
}

.navbar_content {
    margin: auto;
    max-width: 960px;
    width: 100%;
    height: 100%;
}

.navbar_left {
    display: flex;
    float: left;
    transition: 0.5s;
}

.navbar_right {
    display: flex;
    float: right;
    transition: 0.5s;
}

.navbar_icon {
    top: 50%;
    height: var(--navbar-height);
    line-height: var(--navbar-height);
    font-family: Roboto, roboto_font, Tahoma, sans-serif;
    font-size: 32px;
    text-align: center;
    vertical-align: middle;
}

.navbar_navigator {
    height: var(--navbar-height);
    height: 100%;
    font-family: Roboto, roboto_font, Tahoma, sans-serif;
    font-size: 18px;
    line-height: 1.2;
    color: inherit;
    text-decoration: none;
    text-align: center;
    vertical-align: bottom;
    align-self: flex-end;
    margin-left: 20px;
    margin-top: 15px;
}

.navbar_clickable {
    opacity: 50%;
    transition-duration: 0.2s;
}

.navbar_clickable:hover {
    opacity: 100%;
    cursor: pointer;
}

/* Logo section ------------------------------------------*/

.welcome_section {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("images/other/welcome_background.jpg");
   
    height: 100%;
    width: 100%;
    display: table;
}

.floating_logo {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.logo_yellow_vertical{
    width: 55%;
    display: inline;
}
.logo_yellow_horizontal {
    display: none; 
}

.main_dolacz_button {
    background-color: var(--polygon-color);
    border: none;

    
    font-family: Roboto, roboto_font, Tahoma, sans-serif;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    display: inline-block;

    font-size: 15px;
    border-radius: 3px;
    padding: 12px;
    margin-top: 20px;

    color: black;
    text-transform: uppercase;  
    transition: all 0.1s ease-in-out;
  }

.main_dolacz_button:hover
{
    transform: scale(1.04); 
}

.main_dolacz_button:active
{
    background-color: #bd870b;
}

/* O Nas ------------------------------------------*/

.onas_container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    
    border-style: dotted;
    color: white;
    border-width: var(--main-debug-border-width);
}

.onas_item {
    flex: 2;
    text-align: justify;
    text-justify: inter-word;

    padding: 5px;
    padding-right: 4%;
    padding-left: 4%;

    border-style: dotted;
    color: white;
    border-width: var(--main-debug-border-width);
}


/* Spotkania ------------------------------------------*/

.spotkania_containter {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    
    border-style: dotted;
    color: white;
    border-width: var(--main-debug-border-width);
}

.spotkania_item {
    padding: 10px;
    flex: 1;
    text-align: justify;
    text-justify: inter-word;

    min-width: 90%;
    padding-right: 4%;
    padding-left: 4%;

    border-style: dotted;
    color: white;
    border-width: var(--main-debug-border-width);
}

.spotkania_text_item {
    padding-right: 10px;

    margin-bottom: 0px;
}


/* PhotoGallery ------------------------------------------*/

.photoGallery_container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
   
    padding-right: 3%;
    padding-left: 3%;

    border-style: dotted;
    color: white;
    border-width: var(--main-debug-border-width);
}

.photoGallery_item {
    flex: 1 1 0px;
    text-align: center;

    margin: 5px;

    border-style: dotted;
    color: white;
    border-width: var(--main-debug-border-width);    
}

.gallery_thumbnail {
    width: 100%;

    min-width: 40vw;
}



/* Displaying images collide with fading in next sections down the page (z-index collide with opacity) */

.lightbox {
	display: none;
	position: fixed;
	z-index: 19;
	width: 100%;
	height: 100%;
	text-align: center;
	top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.5);
}

.lightbox img {

     width: 70vw;
     position: fixed;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     z-index: 999;
}

.lightbox:target {
	outline: none;
	display: block;
}


/* Inicjatywy ------------------------------------------*/

.inicjatywy_container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    
    padding-right: 3%;
    padding-left: 3%;

    border-style: dotted;
    color: white;
    border-width: var(--main-debug-border-width);
}

.inicjatywy_item {
    flex: 2;
    background-color: rgba(50, 50, 50, 1);
    vertical-align: middle;
    /* text-align: justify;
    text-justify: inter-word; */

    min-width: 90%;
    margin: 5px;

    border-style: dotted;
    color: white;
    border-width: var(--main-debug-border-width);
}

.inicjatywy_item_text_field {
    display: table-cell;
    padding: 5px;
    padding-left: 12px;
    padding-right: 12px;
    width: 75%;

    border-style: dotted;
    color: white;
    border-width: var(--main-debug-border-width);
}

.inicjatywy_item_image_field {
    display: table-cell;
    width: auto;
    background-color: rgba(50, 50, 50, 1);
    background-repeat: no-repeat;
    background-size: 150%;
    background-position: left;

    border-style: dotted;
    color: white;
    border-width: var(--main-debug-border-width);
}

/* Partnerzy ------------------------------------------*/

.partnerzy_container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    
    padding-right: 3%;
    padding-left: 3%;

    border-style: dotted;
    color: white;
    border-width: var(--main-debug-border-width);
}

.partnerzy_item {
    flex: 1 1 0px;
    background-color: rgb(240, 240, 240);

    margin: 4px;
    min-width: 30%;
}

.partner {
    width: 100%;
}

/* Kontakt ------------------------------------------*/


.kontakt_container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    
    border-style: dotted;
    color: white;
    border-width: var(--main-debug-border-width);
}

.kontakt_item {
    flex: 0 1 0px;
    text-align: center;

    margin: 10px; 
    width: 35px;
    height: 35px;
}

.socialMedia {
    filter: invert(1);

    width: 35px;
}

.email:before {
    content: attr(data-website) "\0040" attr(data-user);
    unicode-bidi: bidi-override;
    direction: rtl;
    color: white;
}

.bottom_dolacz_container {
    margin: 20px;
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;

    border-style: dotted;
    color: white;
    border-width: var(--main-debug-border-width);
}

.bottom_dolacz_item{
    color: white; 
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    font-family: Roboto, roboto_font, Tahoma, sans-serif;
    font-size: 24px;
    line-height: 1.5;

    border-style: dotted;
    color: white;
    border-width: var(--main-debug-border-width);
}

/* Dolacz ------------------------------------------*/

.dolacz_containter {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    
    border-style: dotted;
    color: white;
    border-width: var(--main-debug-border-width);
}

.dolacz_item {
    padding: 10px;
    flex: 1;
    margin-top: 0px;
    text-align: justify;
    text-justify: inter-word;

    padding: 5px;
    padding-right: 4%;
    padding-left: 4%;

    border-style: dotted;
    color: white;
    border-width: var(--main-debug-border-width);
}

.dolacz_button {
    background-color: var(--polygon-color);
    border: none;
    padding: 8px 16px; 
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 2px;
    margin-top: 20px;

    font-family: Roboto, roboto_font, Tahoma, sans-serif;
    font-size: 15px;
    font-weight: bold;  

    color: black;
    text-transform: uppercase;  
    transition: all 0.1s ease-in-out;
  }

.dolacz_button:hover
{
    transform: scale(1.04); 
}

.dolacz_button:active
{
    background-color: #bd870b;
}

/* Instrukcja Obsługi Polygonu ------------------------------------------*/

.instrukcja_container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    
    border-style: dotted;
    color: white;
    border-width: var(--main-debug-border-width);
}

.instrukcja_item {
    padding: 10px;
    flex: 1;
    margin-bottom: 70px;
    text-align: justify;
    text-justify: inter-word;

    padding: 5px;
    padding-right: 4%;
    padding-left: 4%;

    border-style: dotted;
    color: white;
    border-width: var(--main-debug-border-width);
}

.instrukcja_highlighted {
    background-color: #434343;
}

.instrukcja_bold {
    font-weight: bold;
}
